<div class="modal-backdrop">
  <div class="modal" v-bind:class="{ 'modal-size': isActive }">
    <header class="modal-header">
      <!-- @slot Use this slot header -->
      <slot name="header">
        <div class="header-title">
          {{modaleTitle}}
        </div>
      </slot>
      <button type="button" class="btn-close" @click="close">
        x
      </button>
    </header>

    <section class="modal-body" v-if="!modalDisplayExperience">
      <!-- @slot Use this slot body -->
      <slot name="body">
        <h4 class="modal-title">Expérimenté</h4>
        <div v-for="(lists, index) in dataExperimented" :key="index">
          <p>
            <b>{{lists.title}}</b> :
            <span>{{lists.details.join(", ")}}</span>
          </p>
        </div>

        <br />

        <h4 class="modal-title">Familier</h4>
        <div v-for="(listsTwo, index) in dataFamiliar" :key="index">
          <p>
            <b>{{listsTwo.title}}</b> :
            <span>{{listsTwo.details.join(", ")}}</span>
          </p>
        </div>
      </slot>
    </section>
    <section class="modal-body" v-if="modalDisplayExperience">
      <slot name="body">
        <span class="title-exp">Projet : </span>
        {{modalDisplayExperience.project}}
        <br /><br />
        <span class="title-exp">Environnement : </span>
        {{modalDisplayExperience.requirements.join(", ")}}
        <br /><br />
        <span class="title-exp">Activités : </span>
        <br />
        <ul class="ul-one">
          <li
            v-for="(item, index) in modalDisplayExperience.activity"
            :key="index"
          >
            {{item.title}}
            <ul
              v-if="item.task"
              v-for="(itemTask, index) in item.task"
              class="ul-two"
            >
              <li>{{itemTask}}</li>
            </ul>
          </li>
        </ul>
      </slot>
    </section>
  </div>
</div>
