.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: var(--container-color);
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.modal-header {
  padding: 15px;
  display: flex;
  position: relative;
  border-bottom: 1px solid #eeeeee;
  color: var(--title-color);
  justify-content: space-between;
}

.header-title {
  text-align: initial;
  font-size: 1.25rem;
  letter-spacing: 0.35rem;
  font-weight: 600;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: var(--title-color);
  background: transparent;
}

.modal-title {
  margin: 2% auto;
  text-align: center;
}

.modal-size {
  max-width: 968px;
}

.title-exp {
  font-weight: bold;
}

.ul-one {
  list-style: square inside;
}

.ul-two {
  list-style-position: inside;
  list-style-type: circle;
  padding-left: 1.5rem;
}
