<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <title>Responsive CV</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="l-header" id="header">
      <nav class="nav bd-container">
        <a href="#" class="nav__logo">Dev</a>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">
                <i class="bx bx-home nav__icon"></i>Acceuil
              </a>
            </li>
            <li class="nav__item">
              <a href="#profile" class="nav__link">
                <i class="bx bx-user nav__icon"></i>Profil
              </a>
            </li>
            <li class="nav__item">
              <a href="#education" class="nav__link">
                <i class="bx bx-book nav__icon"></i>Formations
              </a>
            </li>
            <li class="nav__item">
              <a href="#skills" class="nav__link">
                <i class="bx bx-receipt nav__icon"></i>Compétences
              </a>
            </li>
            <li class="nav__item">
              <a href="#experience" class="nav__link">
                <i class="bx bx-briefcase-alt nav__icon"></i>Expériences
              </a>
            </li>
            <li class="nav__item">
              <a href="#certificates" class="nav__link">
                <i class="bx bx-award nav__icon"></i>Certifications
              </a>
            </li>
          </ul>
        </div>

        <div class="nav__toogle" id="nav-toggle">
          <i class="bx bx-grid-alt"></i>
        </div>
      </nav>
    </header>
    <main class="l-main bd-container">
      <div class="resume" id="area-cv">
        <div class="resume__left">
          <section class="home" id="home">
            <div class="home__container section bd_grid">
              <div class="home__data bd_grid">
                <img src="./assets/img/profile.jpg" alt="" class="home__img" />
                <h1 class="home__title">
                  {{params.data.name}} <b>{{params.data.lastName}}</b>
                </h1>
                <h3 class="home__profession">{{params.data.profession}}</h3>
                <h5>
                  Disponible après le {{availabilityDate}}
                </h5>
                <div class="home_download">
                  <!--
                    triggered on click
                    @event click
                  -->
                  <a @Click="this.downloadCv()" class="home__button-movil"
                    >Télécharger CV</a
                  >
                </div>
              </div>

              <div class="home__address bd-grid">
                <span class="home__information">
                  <i class="bx bx-map home__icon"></i>
                  {{params.data.address}} {{params.data.postalCode}}
                  {{params.data.city}}
                </span>
                <span
                  class="home__information"
                  @click="mailTo()"
                  style="cursor: pointer;"
                >
                  <i class="bx bx-envelope home__icon"></i>
                  {{params.data.mail}}
                </span>
                <span
                  class="home__information"
                  @click="redirectPhone()"
                  style="cursor: pointer;"
                >
                  <i class="bx bx-phone home__icon"></i>
                  {{numberPhoneFr}}
                </span>
              </div>
            </div>
            <!--
                triggered on click
                @event click
              -->
            <i
              class="bx bx-moon change-theme"
              title="Theme"
              id="theme-button"
              @click="darkModeSwitch()"
            ></i>
            <i
              class="bx bx-download generate-pdf"
              title="Generate PDF"
              id="resume-button"
              @Click="this.downloadCv()"
            ></i>
          </section>
          <section class="social section">
            <h2 class="section-title">Social</h2>
            <div class="social__container bd-grid">
              <a
                target="_blank"
                class="social__link"
                @click="redirectLinkSocial('linkedin')"
              >
                <i class="bx bxl-linkedin-square social__icon"></i
                >{{params.data.linkedInText}}
              </a>
              <a class="social__link" @click="redirectLinkSocial('github')">
                <i class="bx bxl-github social__icon"></i
                >{{params.data.gitHubText}}
              </a>
              <a class="social__link" @click="redirectLinkSocial('gitlab')">
                <i class="bx bxl-gitlab social__icon"></i
                >{{params.data.gitLabText}}
              </a>
            </div>
          </section>
          <section class="profile section" id="profile">
            <h2 class="section-title">Profil</h2>
            <p class="profile__description">
              {{params.data.myProfile}}
            </p>
          </section>
          <section class="education section" id="education">
            <h2 class="section-title">Formations</h2>
            <div
              class="education__container bd-grid"
              v-for="(item, index) in params.data.education"
              :key="index"
            >
              <div class="education__content">
                <div class="education__time">
                  <span class="education__rounder"></span>
                  <span
                    v-if="index !== lastEducationLine"
                    class="education__line"
                  ></span>
                </div>
                <div class="education__data bd-grid">
                  <h3 class="education__title">{{item.title}}</h3>
                  <span class="education__studies">{{item.studies}}</span>
                  <span class="education__year">{{item.year}}</span>
                </div>
              </div>
            </div>
          </section>
          <section class="skills section" id="skills">
            <h2 class="section-title">
              Compétences
              <!--
                triggered on click
                @event click
              -->
              <i
                class="bx bx-info-circle modal-skills"
                @click="showModal()"
                style="cursor: pointer;"
              ></i>
            </h2>

            <div class="skills__content bd-grid">
              <ul class="skills__data">
                <li
                  class="skills__name"
                  v-for="(technos1, index) in params.data.technoFirst"
                >
                  <span class="skills__circle"> </span>{{technos1}}
                </li>
              </ul>
              <ul class="skills__data">
                <li
                  class="skills__name"
                  v-for="(technos2, index) in params.data.technoSecond"
                >
                  <span class="skills__circle"> </span>{{technos2}}
                </li>
              </ul>
            </div>
          </section>
        </div>

        <div class="resume__right">
          <section class="experience section" id="experience">
            <h2 class="section-title">Expériences</h2>
            <div class="experience__container bd-grid">
              <div
                v-for="(item, index) in params.data.experiences"
                :key="index"
                class="experience__content"
              >
                <div class="experience__time">
                  <span class="experience__rounder"></span>
                  <span
                    class="experience__line"
                    v-if="index !== lastExperiencesLine"
                  ></span>
                </div>

                <div class="experience__data bd-grid">
                  <h3 class="experience__title">
                    {{item.title}} - {{item.company}} &nbsp;
                    <!--
                      triggered on click
                      @event click
                    -->
                    <i
                      class="bx bx-info-circle modal-skills"
                      @click="showModal(item)"
                      style="cursor: pointer;"
                      v-if="item.company !== 'SOLUTEC'"
                    ></i>
                  </h3>
                  <span class="experience__company">{{item.year}}</span>
                  <p class="experience__description">
                    {{item.contexte}}
                  </p>
                </div>
              </div>
            </div>
          </section>
          <section class="certificate section" id="certificates">
            <h2 class="section-title">Certifications</h2>

            <div class="certificate__container bd-grid">
              <div
                class="certificate__content"
                v-for="(certif, index) in params.data.certifications"
              >
                <h3 class="certificate__title">
                  {{certif.title}} ({{certif.year}})
                </h3>
                <p class="certificate__description">
                  {{certif.details}}
                </p>
              </div>
            </div>
          </section>
          <section class="languages section">
            <h2 class="section-title">Langues</h2>

            <div class="languages__container">
              <ul class="languages__content bd-grid">
                <li class="languages__name">
                  <span class="languages__circle"></span>Français: Langue
                  maternelle
                </li>
              </ul>
              <ul class="languages__content bd-grid">
                <li class="languages__name">
                  <span class="languages__circle"></span>Anglais: Intermédiaire
                </li>
              </ul>
              <ul class="languages__content bd-grid">
                <li class="languages__name">
                  <span class="languages__circle"></span>Espagnol: Notions
                </li>
              </ul>
            </div>
          </section>
          <section class="interests section">
            <h2 class="section-title">
              centres d’intérêts
            </h2>
            <div class="interests__container bd-grid">
              <div class="interests__content">
                <i class="bx bx-book-open interests__icon"></i>
                <span class="interests__name">Lecture</span>
              </div>
              <div class="interests__content">
                <i class="bx bxs-plane interests__icon"></i>
                <span class="interests__name">Voyages</span>
              </div>
              <div class="interests__content">
                <i class="bx bx-basketball interests__icon"></i>
                <span class="interests__name">Basket</span>
              </div>
              <div class="interests__content">
                <i class="bx bx-football interests__icon"></i>
                <span class="interests__name">Football</span>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <!-- SCROLL TOP -->
    <a href="#" class="scrolltop" id="scroll-top">
      <i class="bx bx-up-arrow-alt scrolltop__icon"></i>
    </a>
  </body>
  <!--
  	@Modal modal for more details
		@binding {array} dataExperimented - dataExperimented which represents the data of the experienced technologies
		@binding {array} dataFamiliar - dataFamiliar which represents the data of the familiar technologies
    @binding {function} close - close which allows you to close the modal
	-->
  <Modal
    :dataExperimented="this.dataExperimented"
    :dataFamiliar="this.dataFamiliar"
    :modalDisplayExperience="this.modalDisplayExperience"
    v-show="isModalVisible"
    @close="closeModal"
  ></Modal>
</html>
